h1 {
	color: #ffffff;
	font-size: 26px;
	font-weight: bold;
	/* padding: 0px; */
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h2 {
	color: #4aaaa5;
	font-size: 22px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 0px 0;
}

.nameBlock {
	background-color: #4aaaa5;
	/* width: 200px; */
	padding: 25px;
	display: inline;
	margin: 30px 0 0 12.5%;
}

p {
	color: #777777;
}

.mainContent {
	border-color: solid #dddddd;
	padding: 25px 0 0 0;
	border: 5px;
	margin-left: 20px;
	margin-right: 20px;
}

.leftSide {
	display: inline;
	background-color: #ffffff;
	padding: 25px;
	border: solid #cccccc;
	float: left;
	margin: -2% 1% 1% 1%;
}

.rightSide {
	float: right;
	text-align: center;
	background-color: #ffffff;
	padding: 25px;
	border: solid #cccccc;
	margin: 0% 1% 25px 1%;
	display: inline;
}

.tealblock {
	background-color: #4aaaa5;
	display: block;
	height: 10px;
}

footer {
	background-color: #666666;
	display: block;
	height: 80px;
	position: fixed;
	width: 100%;
	left:0px;
	bottom:0px;
}

footer p {
	color: white;
	text-align: center;
	font-size: 12px;
	padding: 30px;
}

.clearfix {
	clear: both;
}
